@use '../../styles/variables' as *;

.corrector-container {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100vh;
	border: 1px solid #ccc;
	padding: 1rem 8rem;
	border-radius: 1.2rem;
	-webkit-border-radius: 1.2rem;
	-moz-border-radius: 1.2rem;
	-ms-border-radius: 1.2rem;
	-o-border-radius: 1.2rem;
	background: light-dark($w-color, $b-color);
	&__title {
		font-size: 3.2rem;
		text-align: center;
		margin: 2rem 0;
		color: light-dark($b-color, $w-color);
	}
	&__toolbar {
		border: 1px solid #ccc;
		border-radius: 1.2rem;
		-webkit-border-radius: 1.2rem;
		-moz-border-radius: 1.2rem;
		-ms-border-radius: 1.2rem;
		-o-border-radius: 1.2rem;
		margin-bottom: 1rem;
		background: light-dark($w-color, #111111);
		font-size: 1.4rem;
		display: flex;
		padding: 1rem;
		justify-content: center;
		gap: 1rem;
		&--buttons {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			align-items: center;
			gap: 1rem;
			.dropdown-button {
				display: flex;
				align-items: center;
				cursor: pointer;
				justify-content: space-between;
				&.tipography {
					width: 15rem;
				}
			}
			& .toolbar-active {
				background: light-dark(#bdbdbd, #1a1a1a);
				box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.1);
			}
			& button {
				background: light-dark(#e0e0e0, #2e2e2e);
				color: light-dark($g-color, $w-color);
				cursor: pointer;
				width: max-content;
				min-width: 3rem;
				border: none;
				padding: 0.6rem;
				border-radius: 0.8rem;
				-webkit-border-radius: 0.8rem;
				-moz-border-radius: 0.8rem;
				-ms-border-radius: 0.8rem;
				-o-border-radius: 0.8rem;
				& svg {
					width: 1.6rem;
				}
				&:hover {
					background: #e7e7e7;
				}
			}
		}
		&--dropdown {
			display: none;
		}
	}
}

.tiptap-parent {
	height: 60%;
}
.tiptap {
	margin-top: 2rem;
	border: 1px solid #ccc;
	border-radius: 1.2rem;
	height: max-content;
	min-height: 100%;
	padding: 1rem;
	color: light-dark($b-color, $w-color);
	background: light-dark($w-color, #111111);
	& ul {
		margin-left: 4rem;
	}
}

.tiptap {
	:first-child {
		margin-top: 0;
	}

	/* List styles */
	ul,
	ol {
		padding: 0 1rem;
		margin: 1.25rem 1rem 1.25rem 0.4rem;

		li p {
			margin-top: 0.25em;
			margin-bottom: 0.25em;
		}
	}
	p {
		font-size: 1.4rem;
	}
	/* Heading styles */
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		line-height: 1.1;
		margin-top: 2.5rem;
		text-wrap: pretty;
	}

	h1,
	h2 {
		margin-top: 3.5rem;
		margin-bottom: 1.5rem;
	}

	h1 {
		font-size: 2rem;
	}

	h2 {
		font-size: 1.8rem;
	}

	h3 {
		font-size: 1.6rem;
	}

	h4,
	h5,
	h6 {
		font-size: 1.4rem;
	}

	/* Code and preformatted text styles */
	code {
		background-color: var(--purple-light);
		border-radius: 0.4rem;
		color: var(--black);
		font-size: 0.85rem;
		padding: 0.25em 0.3em;
	}

	pre {
		background: var(--black);
		border-radius: 0.5rem;
		color: var(--white);
		font-family: 'JetBrainsMono', monospace;
		margin: 1.5rem 0;
		padding: 0.75rem 1rem;

		code {
			background: none;
			color: inherit;
			font-size: 0.8rem;
			padding: 0;
		}
	}

	blockquote {
		border-left: 3px solid var(--gray-3);
		margin: 1.5rem 0;
		padding-left: 1rem;
	}

	hr {
		border: none;
		border-top: 1px solid var(--gray-2);
		margin: 2rem 0;
	}
}
.color-picker,
.highlight-color {
	display: flex;
}
/* Bubble menu */
.bubble-menu {
	position: relative;
	background-color: #fff;
	border: 1px solid #e0e0e0;
	border-radius: 0.7rem;
	box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	width: max-content;
	padding: 0.2rem;
	gap: 1rem;
	padding: 0.4rem;
	& .toolbar-active {
		background: #a8a8a8;
		box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.1);
	}
	button,
	.bubble-menu__first-button {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 0.4rem;
		cursor: pointer;
		position: relative;
		background-color: unset;
		font-size: 1.4rem;
		height: 100%;
		padding: 0.4rem 1rem;
		border-radius: 0.7rem;
		& svg {
			width: 0.8rem;
			pointer-events: none;
		}
		&:hover {
			background-color: #f0f0f0;
		}

		&.is-active {
			background-color: var(--purple);

			&:hover {
				background-color: var(--purple-contrast);
			}
		}
		& .button-dropdown {
			display: none;
			position: absolute;
			top: 100%;
			left: 0;
			background: #fff;
			border: 1px solid #e0e0e0;
			border-radius: 0.7rem;
			&.active {
				display: block;
			}
		}
	}
}

/* Floating menu */
// .floating-menu {
// 	display: flex;
// 	background-color: var(--gray-3);
// 	padding: 0.1rem;
// 	border-radius: 0.5rem;

// 	button {
// 		background-color: unset;
// 		padding: 0.275rem 0.425rem;
// 		border-radius: 0.3rem;

// 		&:hover {
// 			background-color: var(--gray-3);
// 		}

// 		&.is-active {
// 			background-color: var(--white);
// 			color: var(--purple);

// 			&:hover {
// 				color: var(--purple-contrast);
// 			}
// 		}
// 	}
// }
.titap-underline {
	text-decoration: underline;
}
.dropdown-container {
	position: relative;
}
.separator-dropdown {
	height: 22px;
	border-left: 1px solid #ddd;
	width: 1px;
}

.arrow-down {
	margin-left: 5px;
}

.dropdown-content {
	//display: none;
	position: absolute;
	background-color: white;
	border: 1px solid #ddd;
	padding: 5px;
	z-index: 10;
	width: max-content;
	border-radius: 0.7rem;
	-webkit-border-radius: 0.7rem;
	-moz-border-radius: 0.7rem;
	-ms-border-radius: 0.7rem;
	-o-border-radius: 0.7rem;
}

.dropdown-content.active {
	display: block;
}

.dropdown-content button {
	display: block;
	background: none;
	border: none;
	padding: 5px;
	cursor: pointer;
}

.dropdown-content button.is-active {
	background-color: #e0e0e0;
}

.font-Arial {
	font-family: 'Arial', sans-serif;
}

.font-Verdana {
	font-family: 'Verdana', sans-serif;
}

.font-Helvetica {
	font-family: 'Helvetica', sans-serif;
}

.font-Tahoma {
	font-family: 'Tahoma', sans-serif;
}

.font-Georgia {
	font-family: 'Georgia', serif;
}

.font-TimesNewRoman {
	font-family: 'Times New Roman', serif;
}

.font-CourierNew {
	font-family: 'Courier New', monospace;
}

.font-TrebuchetMS {
	font-family: 'Trebuchet MS', sans-serif;
}

.font-ComicSansMS {
	font-family: 'Comic Sans MS', sans-serif;
}

.font-Impact {
	font-family: 'Impact', sans-serif;
}
.ubuntu {
	font-family: 'Ubuntu', sans-serif;
}
@media only screen and (min-width: 1100px) {
	.corrector-ortografico {
		& .ql-container {
			height: 30rem;
		}
	}
}
