@use '../../styles/variables' as *;

.corrector-ortografico {
	display: flex;
	align-items: center;
	flex-direction: column;
	width: 100%;
	height: 100vh;

	&__title {
		font-size: 6rem;
		color: #fff;
		text-align: center;
		margin: 2rem auto;
	}

	&__box {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		flex-grow: 1;
	}

	&__quill {
		width: 70%;
		/* From https://css.glass */
		background: rgba(255, 255, 255, 0.2);
		border-radius: 1.6rem;
		box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
		backdrop-filter: blur(5px);
		-webkit-backdrop-filter: blur(5px);
		border: 1px solid rgba(255, 255, 255, 0.3);
	}

	& .ql-container {
		height: 40rem;
	}

	& .ql-snow {
		border: none;
		color: #fff;

		& .ql-stroke {
			stroke: #fff;
		}

		& .ql-fill {
			fill: #fff;
		}

		& .ql-picker .ql-picker-label:before {
			color: #fff;
		}
	}

	& .button {
		margin: 3rem;
		width: 5rem;
		height: 5rem;
		border: 0.5rem solid #fff;
		border-radius: 50%;
		cursor: pointer;
		&.active {
			display: flex;
			justify-content: center;
			align-items: center;
			& .inner {
				width: 50%;
				height: 50%;
				border-radius: 0;
				-webkit-border-radius: 0;
				-moz-border-radius: 0;
				-ms-border-radius: 0;
				-o-border-radius: 0;
			}
		}
	}

	& .inner {
		background-color: #9e1919;
		width: 100%;
		height: 100%;
		border-radius: 50%;
		transition: all 0.2s ease;
		transform: scale(0.94);
	}
	&__buttons {
		display: flex;
		width: 50%;
		justify-content: space-between;
		align-items: center;
	}
	& .button.true .inner {
		transform: scale(0.5);
		border-radius: 12%;
	}
	& .Btn {
		width: 20rem;
		height: 45px;
		background-color: rgb(65, 64, 64);
		border: none;
		box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.342);
		border-radius: 5px;
		cursor: pointer;
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 7px;
		position: relative;
		overflow: hidden;
		transition-duration: 0.5s;
	}

	.text {
		color: $w-color;
		font-weight: 800;
		letter-spacing: 1.1px;
		z-index: 2;
		font-size: 1.6rem;
	}

	.svgIcon {
		width: auto;
		z-index: 2;
	}

	.svgIcon path {
		fill: rgb(255, 255, 255);
	}

	.Btn:hover {
		color: $p-color;
	}

	.effect {
		position: absolute;
		width: 10px;
		height: 10px;
		background-color: $p-color;
		border-radius: 50%;
		z-index: 1;
		opacity: 0;
		transition-duration: 0.5s;
	}

	.Btn:hover .effect {
		transform: scale(22);
		transform-origin: center;
		opacity: 1;
		transition-duration: 0.5s;
		-webkit-transform: scale(22);
		-moz-transform: scale(22);
		-ms-transform: scale(22);
		-o-transform: scale(22);
	}

	.Btn:hover {
		box-shadow: 0px 0px 5px rgb(236, 104, 104), 0px 0px 10px rgb(236, 104, 104), 0px 0px 30px rgb(236, 104, 104);
		transition-duration: 0.7s;
	}

	.Btn:hover .text {
		color: rgb(65, 64, 64);
	}

	.Btn:hover .svgIcon path {
		fill: rgb(65, 64, 64);
	}
}
.tiptap-parent {
	height: 60%;
}
.tiptap {
	margin-top: 1rem;
	border: 1px solid #ccc;
	border-radius: 1.2rem;
	height: max-content;
	min-height: 100%;
	padding: 1rem;
	background: #fff;
	& ul {
		margin-left: 4rem;
	}
}

.corrector-container {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100vh;
	border: 1px solid #ccc;
	padding: 1rem 8rem;
	border-radius: 1.2rem;
	-webkit-border-radius: 1.2rem;
	-moz-border-radius: 1.2rem;
	-ms-border-radius: 1.2rem;
	-o-border-radius: 1.2rem;
	background: #f1f1f1;
	&__title {
		font-size: 2.8rem;
		text-align: center;
		margin: 2rem 0;
	}
	&__toolbar {
		border: 1px solid #ccc;
		border-radius: 1.2rem;
		-webkit-border-radius: 1.2rem;
		-moz-border-radius: 1.2rem;
		-ms-border-radius: 1.2rem;
		-o-border-radius: 1.2rem;
		background: #fff;
		font-size: 1.4rem;
		display: flex;
		padding: 1rem;
		justify-content: center;
		gap: 1rem;
		&--buttons {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			align-items: center;
			gap: 1rem;
			.dropdown-button {
				display: flex;
				align-items: center;
				cursor: pointer;
				justify-content: space-between;
				&.tipography {
					width: 15rem;
				}
			}
			& .toolbar-active {
				background: #a8a8a8;
				box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.1);
			}
			& button {
				background: #eee;
				cursor: pointer;
				width: max-content;
				min-width: 3rem;
				border: none;
				padding: 0.6rem;
				border-radius: 0.8rem;
				-webkit-border-radius: 0.8rem;
				-moz-border-radius: 0.8rem;
				-ms-border-radius: 0.8rem;
				-o-border-radius: 0.8rem;
				& svg {
					width: 1.6rem;
				}
				&:hover {
					background: #e7e7e7;
				}
			}
		}
		&--dropdown {
			display: none;
		}
	}
}

.tiptap {
	:first-child {
		margin-top: 0;
	}

	/* List styles */
	ul,
	ol {
		padding: 0 1rem;
		margin: 1.25rem 1rem 1.25rem 0.4rem;

		li p {
			margin-top: 0.25em;
			margin-bottom: 0.25em;
		}
	}
	p {
		font-size: 1.4rem;
	}
	/* Heading styles */
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		line-height: 1.1;
		margin-top: 2.5rem;
		text-wrap: pretty;
	}

	h1,
	h2 {
		margin-top: 3.5rem;
		margin-bottom: 1.5rem;
	}

	h1 {
		font-size: 2rem;
	}

	h2 {
		font-size: 1.8rem;
	}

	h3 {
		font-size: 1.6rem;
	}

	h4,
	h5,
	h6 {
		font-size: 1.4rem;
	}

	/* Code and preformatted text styles */
	code {
		background-color: var(--purple-light);
		border-radius: 0.4rem;
		color: var(--black);
		font-size: 0.85rem;
		padding: 0.25em 0.3em;
	}

	pre {
		background: var(--black);
		border-radius: 0.5rem;
		color: var(--white);
		font-family: 'JetBrainsMono', monospace;
		margin: 1.5rem 0;
		padding: 0.75rem 1rem;

		code {
			background: none;
			color: inherit;
			font-size: 0.8rem;
			padding: 0;
		}
	}

	blockquote {
		border-left: 3px solid var(--gray-3);
		margin: 1.5rem 0;
		padding-left: 1rem;
	}

	hr {
		border: none;
		border-top: 1px solid var(--gray-2);
		margin: 2rem 0;
	}
}
.color-picker,
.highlight-color {
	display: flex;
}
/* Bubble menu */
.bubble-menu {
	position: relative;
	background-color: #fff;
	border: 1px solid #e0e0e0;
	border-radius: 0.7rem;
	box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	width: max-content;
	padding: 0.2rem;
	gap: 1rem;
	padding: 0.4rem;
	& .toolbar-active {
		background: #a8a8a8;
		box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.1);
	}
	button,
	.bubble-menu__first-button {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 0.4rem;
		cursor: pointer;
		position: relative;
		background-color: unset;
		font-size: 1.4rem;
		height: 100%;
		padding: 0.4rem 1rem;
		border-radius: 0.7rem;
		& svg {
			width: 0.8rem;
			pointer-events: none;
		}
		&:hover {
			background-color: #f0f0f0;
		}

		&.is-active {
			background-color: var(--purple);

			&:hover {
				background-color: var(--purple-contrast);
			}
		}
		& .button-dropdown {
			display: none;
			position: absolute;
			top: 100%;
			left: 0;
			background: #fff;
			border: 1px solid #e0e0e0;
			border-radius: 0.7rem;
			&.active {
				display: block;
			}
		}
	}
}

/* Floating menu */
// .floating-menu {
// 	display: flex;
// 	background-color: var(--gray-3);
// 	padding: 0.1rem;
// 	border-radius: 0.5rem;

// 	button {
// 		background-color: unset;
// 		padding: 0.275rem 0.425rem;
// 		border-radius: 0.3rem;

// 		&:hover {
// 			background-color: var(--gray-3);
// 		}

// 		&.is-active {
// 			background-color: var(--white);
// 			color: var(--purple);

// 			&:hover {
// 				color: var(--purple-contrast);
// 			}
// 		}
// 	}
// }
.titap-underline {
	text-decoration: underline;
}
.dropdown-container {
	position: relative;
}
.separator-dropdown {
	height: 22px;
	border-left: 1px solid #ddd;
	width: 1px;
}

.arrow-down {
	margin-left: 5px;
}

.dropdown-content {
	//display: none;
	position: absolute;
	background-color: white;
	border: 1px solid #ddd;
	padding: 5px;
	z-index: 10;
	width: max-content;
	border-radius: 0.7rem;
	-webkit-border-radius: 0.7rem;
	-moz-border-radius: 0.7rem;
	-ms-border-radius: 0.7rem;
	-o-border-radius: 0.7rem;
}

.dropdown-content.active {
	display: block;
}

.dropdown-content button {
	display: block;
	background: none;
	border: none;
	padding: 5px;
	cursor: pointer;
}

.dropdown-content button.is-active {
	background-color: #e0e0e0;
}

.font-Arial {
	font-family: 'Arial', sans-serif;
}

.font-Verdana {
	font-family: 'Verdana', sans-serif;
}

.font-Helvetica {
	font-family: 'Helvetica', sans-serif;
}

.font-Tahoma {
	font-family: 'Tahoma', sans-serif;
}

.font-Georgia {
	font-family: 'Georgia', serif;
}

.font-TimesNewRoman {
	font-family: 'Times New Roman', serif;
}

.font-CourierNew {
	font-family: 'Courier New', monospace;
}

.font-TrebuchetMS {
	font-family: 'Trebuchet MS', sans-serif;
}

.font-ComicSansMS {
	font-family: 'Comic Sans MS', sans-serif;
}

.font-Impact {
	font-family: 'Impact', sans-serif;
}
.ubuntu {
	font-family: 'Ubuntu', sans-serif;
}
@media only screen and (min-width: 1100px) {
	.corrector-ortografico {
		& .ql-container {
			height: 30rem;
		}
	}
}
