@use '../../styles/variables' as *;

.corrector-ortografico {
	display: flex;
	align-items: center;
	flex-direction: column;
	width: 100%;
	height: 100vh;

	&__title {
		font-size: 6rem;
		color: #fff;
		text-align: center;
		margin: 2rem auto;
	}

	&__box {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		flex-grow: 1;
	}

	&__quill {
		width: 70%;
		/* From https://css.glass */
		background: rgba(255, 255, 255, 0.2);
		border-radius: 1.6rem;
		box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
		backdrop-filter: blur(5px);
		-webkit-backdrop-filter: blur(5px);
		border: 1px solid rgba(255, 255, 255, 0.3);
	}

	& .ql-container {
		height: 40rem;
	}

	& .ql-snow {
		border: none;
		color: #fff;

		& .ql-stroke {
			stroke: #fff;
		}

		& .ql-fill {
			fill: #fff;
		}

		& .ql-picker .ql-picker-label:before {
			color: #fff;
		}
	}

	& .button {
		margin: 3rem;
		width: 5rem;
		height: 5rem;
		border: 0.5rem solid #fff;
		border-radius: 50%;
		cursor: pointer;
		&.active {
			display: flex;
			justify-content: center;
			align-items: center;
			& .inner {
				width: 50%;
				height: 50%;
				border-radius: 0;
				-webkit-border-radius: 0;
				-moz-border-radius: 0;
				-ms-border-radius: 0;
				-o-border-radius: 0;
			}
		}
	}

	& .inner {
		background-color: #9e1919;
		width: 100%;
		height: 100%;
		border-radius: 50%;
		transition: all 0.2s ease;
		transform: scale(0.94);
	}
	&__buttons {
		display: flex;
		width: 50%;
		justify-content: space-between;
		align-items: center;
	}
	& .button.true .inner {
		transform: scale(0.5);
		border-radius: 12%;
	}
	& .Btn {
		width: 20rem;
		height: 45px;
		background-color: rgb(65, 64, 64);
		border: none;
		box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.342);
		border-radius: 5px;
		cursor: pointer;
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 7px;
		position: relative;
		overflow: hidden;
		transition-duration: 0.5s;
	}

	.text {
		color: $w-color;
		font-weight: 800;
		letter-spacing: 1.1px;
		z-index: 2;
		font-size: 1.6rem;
	}

	.svgIcon {
		width: auto;
		z-index: 2;
	}

	.svgIcon path {
		fill: rgb(255, 255, 255);
	}

	.Btn:hover {
		color: $p-color;
	}

	.effect {
		position: absolute;
		width: 10px;
		height: 10px;
		background-color: $p-color;
		border-radius: 50%;
		z-index: 1;
		opacity: 0;
		transition-duration: 0.5s;
	}

	.Btn:hover .effect {
		transform: scale(22);
		transform-origin: center;
		opacity: 1;
		transition-duration: 0.5s;
		-webkit-transform: scale(22);
		-moz-transform: scale(22);
		-ms-transform: scale(22);
		-o-transform: scale(22);
	}

	.Btn:hover {
		box-shadow: 0px 0px 5px rgb(236, 104, 104), 0px 0px 10px rgb(236, 104, 104),
			0px 0px 30px rgb(236, 104, 104);
		transition-duration: 0.7s;
	}

	.Btn:hover .text {
		color: rgb(65, 64, 64);
	}

	.Btn:hover .svgIcon path {
		fill: rgb(65, 64, 64);
	}
}

@media only screen and (min-width: 1100px) {
	.corrector-ortografico {
		& .ql-container {
			height: 30rem;
		}
	}
}
