@use '../../styles/variables' as *;

.checklist-container {
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	&--settings {
		position: relative;
		display: flex;
		justify-content: center;
		width: 70%;
	}
	& .settings {
		position: absolute;
		bottom: 2rem;
		z-index: 100;
		right: -25rem;
		height: fit-content;
		width: 30rem;
		min-width: 30rem;
		background: $b-color;
		color: $w-color;
		padding: 1rem;
		border-radius: 0.8rem;
		-webkit-border-radius: 0.8rem;
		-moz-border-radius: 0.8rem;
		-ms-border-radius: 0.8rem;
		-o-border-radius: 0.8rem;
		&__list {
			display: flex;
			align-items: center;
			gap: 1rem;
			padding: 1rem;
			cursor: pointer;
			color: $w-color;
			&:hover {
				background: rgba(0, 0, 0, 0.1);
			}
			& svg {
				user-select: none;
				pointer-events: none;
				fill: $w-color;
				width: 2rem;
				height: 2rem;
			}

			border-radius: 0.8rem;
			-webkit-border-radius: 0.8rem;
			-moz-border-radius: 0.8rem;
			-ms-border-radius: 0.8rem;
			-o-border-radius: 0.8rem;
		}
		&.true {
			right: -14rem;
		}
		&.light {
			background: $w-color;
			color: $b-color;
			&,
			.settings__list {
				color: $b-color;
				& svg {
					fill: $b-color;
				}
			}
		}
		transition: 1s ease-in-out;
		-webkit-transition: 1s ease-in-out;
		-moz-transition: 1s ease-in-out;
		-ms-transition: 1s ease-in-out;
		-o-transition: 1s ease-in-out;
	}
	&.true {
		width: 100%;
		position: absolute;
		top: 0;
		left: 0;
		background: $w-color;
		z-index: 100;
		& .Checklist {
			width: 90%;
			height: 90%;
			max-width: 200rem;
			& .LeftSide {
				&__title {
					font-size: 3rem;
				}
			}
			& .rightSide {
				& .description {
					&__title {
						font-size: 3rem;
					}
					&__paragraph {
						font-size: 2rem;
					}
					&__valtext,
					.description__valbool,
					.description__valdate,
					.description__vallist {
						max-width: 40rem;
					}
				}
			}
		}
	}
	transition: 1s ease-in-out;
	-webkit-transition: 1s ease-in-out;
	-moz-transition: 1s ease-in-out;
	-ms-transition: 1s ease-in-out;
	-o-transition: 1s ease-in-out;
}
.Checklist {
	position: relative;
	z-index: 5;
	overflow-x: hidden;
	display: flex;
	flex-direction: column;
	width: 70%;
	max-width: 100rem;
	height: 60rem;
	background: light-dark($w-color, $b-color);
	color: light-dark($b-color, $w-color);
	box-shadow: 0px 0px 0px 24px light-dark(rgba($w-color, 0.6), rgba($b-color, 0.6)),
		0px 10px 29px 20px rgba(0, 0, 0, 0.2);
	border: 1px solid light-dark(rgba($w-color, 1), rgba($b-color, 1));

	border-radius: 2rem;
	-webkit-border-radius: 2rem;
	-moz-border-radius: 2rem;
	-ms-border-radius: 2rem;
	-o-border-radius: 2rem;
	& .data {
		font-size: 2rem;
		overflow: hidden;
		width: 100%;
		height: 100%;
		display: flex;
	}
	&__buttons {
		display: flex;
		justify-content: space-around;
		gap: 2rem;
		width: 100%;
		button {
			font-family: inherit;
			font-size: 1.8rem;
			background: $t-color;
			color: $w-color;
			align-items: center;
			fill: rgb(155, 153, 153);
			padding: 0.4em 1em;
			margin: 1rem 0;
			padding-left: 0.9em;
			display: flex;
			width: 20rem;
			justify-content: center;
			align-items: center;
			cursor: pointer;
			border: none;
			border-radius: 15px;
			font-weight: 1000;
		}

		button span {
			display: block;
			margin-left: 0.3em;
			transition: all 0.3s ease-in-out;
		}

		button svg {
			width: 2rem;
			height: 2rem;
			display: block;
			transform-origin: center center;
			transition: transform 0.3s ease-in-out;
		}

		button:hover {
			background: $s2-color;
		}

		button:hover .svg-wrapper {
			transform: scale(1.25);
			transition: 0.5s linear;
		}

		button:hover svg {
			transform: translateX(4rem) scale(1.1);
			fill: $b-color;
			-webkit-transform: translateX(4rem) scale(1.1);
			-moz-transform: translateX(4rem) scale(1.1);
			-ms-transform: translateX(4rem) scale(1.1);
			-o-transform: translateX(4rem) scale(1.1);
		}
		button[type='button']:hover svg {
			transform: translateX(6rem) scale(1.1);
			fill: $b-color;
			-webkit-transform: translateX(6rem) scale(1.1);
			-moz-transform: translateX(6rem) scale(1.1);
			-ms-transform: translateX(6rem) scale(1.1);
			-o-transform: translateX(6rem) scale(1.1);
		}
		button:hover span {
			opacity: 0;
			transition: 0.5s linear;
		}

		button:active {
			transform: scale(0.95);
		}
	}
	& .LeftSide {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 3rem;
		width: 50%;
		border-right: 1px inset $g-color;
		padding: 3rem 2rem;
		& .ListCheck {
			width: 100%;
			font-size: 1.4rem;
			border-bottom: 1px inset $g-color;
			justify-content: space-between;
			align-items: center;
			display: flex;
			cursor: pointer;
			padding: 0.4rem 1rem;
			border-radius: 1rem;
			-webkit-border-radius: 1rem;
			-moz-border-radius: 1rem;
			-ms-border-radius: 1rem;
			-o-border-radius: 1rem;
			&.checked {
				box-shadow: inset 0px -14px 43px -11px rgba(112, 112, 112, 0.5);
				color: rgba(0, 0, 0, 0.2);
			}
			&.hover {
				background: rgba(0, 0, 0, 0.5);
				transform: scale(1.05);
				color: $p-color;
				-webkit-transform: scale(1.05);
				-moz-transform: scale(1.05);
				-ms-transform: scale(1.05);
				-o-transform: scale(1.05);
			}
			& h2 {
				text-align: center;
			}
			& span {
				font-size: 2rem;
				font-weight: 800;
				color: $s-color;
			}
		}
		&__title {
			font-size: 3rem;
			text-align: center;
			color: $p-color;

			text-shadow: -1px -1px 0 $w-color, 1px -1px 0 $w-color, -1px 1px 0 $w-color,
				1px 1px 0 $w-color;
			letter-spacing: 1px;
		}
		&__btn-reiniciar {
			width: 30rem;
			padding: 0.6rem;
			background: $p-color;
			font-size: 1.6rem;
			border-radius: 0.8rem;
			-webkit-border-radius: 0.8rem;
			-moz-border-radius: 0.8rem;
			-ms-border-radius: 0.8rem;
			-o-border-radius: 0.8rem;
		}
		&__ul {
			display: flex;
			flex-direction: column;
			// justify-content: center;
			scrollbar-width: thin;
			scrollbar-color: $p-color #e2e2e2;
			align-items: center;
			overflow-y: auto;
			height: 100%;
			width: 100%;
			gap: 2rem;
			& li {
				list-style: none;
				width: 95%;
			}
		}
	}
	& .rightSide {
		position: relative;
		width: 50%;
		scrollbar-color: $p-color $p3-color;
		&__description {
			display: none;
			height: 100%;
			&.active {
				display: flex;
			}
			& .check-tip {
				position: relative;
				font-weight: 600;
				background: rgba(255, 255, 255, 0.2);
				font-style: italic;
				cursor: default;
				padding: 0 0.5rem;
				&__tip {
					position: absolute;
					top: 2rem;
					left: 0;
					cursor: default;
					display: none;
					width: 12rem;
					text-wrap: pretty;
					font-size: 1.2rem;
					z-index: 100;
					color: $p-color;
					background: $w-color;
					padding: 0.5rem;
					&:hover {
						font-size: 1.6rem;
					}
					transition: 0.2s all;
					border-radius: 0.8rem;
					-webkit-border-radius: 0.8rem;
					-moz-border-radius: 0.8rem;
					-ms-border-radius: 0.8rem;
					-o-border-radius: 0.8rem;
					-webkit-transition: 0.2s all;
					-moz-transition: 0.2s all;
					-ms-transition: 0.2s all;
					-o-transition: 0.2s all;
				}
				&:hover {
					& .check-tip__tip {
						display: block;
						// &::after {
						// 	content: '';
						// 	position: absolute;
						// 	bottom: 0;
						// 	left: 0;
						// 	background: $w-color;
						// 	width: 10px;
						// 	height: 10px;
						// 	transform: rotate(50%);
						// 	-webkit-transform: rotate(50%);
						// 	-moz-transform: rotate(50%);
						// 	-ms-transform: rotate(50%);
						// 	-o-transform: rotate(50%);
						// }
					}
				}
				border-radius: 0.8rem;
				-webkit-border-radius: 0.8rem;
				-moz-border-radius: 0.8rem;
				-ms-border-radius: 0.8rem;
				-o-border-radius: 0.8rem;
			}
		}
		& .changeSteep {
			gap: 1rem;
			font-size: 2rem;
			font-weight: 100;
			cursor: pointer;
			background: $s-color;

			& .icon-arrow {
				left: -27px;
				top: 0;
			}
		}
	}
	& .split {
		display: flex;
		flex-direction: row;
	}

	& .gutter {
		background-color: $p3-color;
		background-repeat: no-repeat;
		background-position: 50%;
	}

	& .gutter.gutter-horizontal {
		background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
		cursor: col-resize;
	}
}

.PopNota {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100vh;
	/* From https://css.glass */
	background: rgba(255, 255, 255, 0.2);
	z-index: 100;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
	border: 1px solid rgba(255, 255, 255, 0.3);

	& .paper {
		position: relative;
		width: 90%;
		max-width: 800px;
		min-width: 400px;
		margin: 2rem 0;
		height: 60rem;
		margin: 0 auto;
		background: #fafafa;
		border-radius: 10px;
		box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
		overflow: hidden;
	}
	& .paper:before {
		content: '';
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		width: 60px;
		background: radial-gradient(#575450 6px, transparent 7px) repeat-y;
		background-size: 30px 30px;
		border-left: 3px solid $p3-color;
		box-sizing: border-box;
	}

	& .paper-content {
		position: absolute;
		top: 30px;
		left: 0;
		bottom: 30px;
		right: 60px;
		background: linear-gradient(transparent, transparent 28px, #dbdbdb 28px);
		background-size: 30px 30px;
	}

	& .paper-content section {
		width: 100%;
		max-width: 100%;
		height: 100%;
		max-height: 100%;
		line-height: 30px;
		padding: 0 10px;
		border: 0;
		outline: 0;
		background: transparent;
		color: $b-color;
		font-weight: bold;
		font-size: 1.8rem;
		box-sizing: border-box;
		z-index: 1;
		overflow-y: auto;
		scrollbar-width: thin;
		scrollbar-color: $w-color $p3-color;
	}

	& .papper {
		position: relative;
		box-sizing: border-box;
		width: 200px;
		height: 4rem;
		background: #ffffff;
		background-image: linear-gradient(#ffffff 1.1rem, #636363 1.2rem);
		background-size: 100% 1.2rem;
		border-radius: 10px;
		cursor: move;
		font-size: 2rem;
		text-align: center;
		margin: 2rem 0;
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;
		font-weight: 800;
	}

	& .papper::before,
	.papper::after {
		position: absolute;
		content: '';
		bottom: 10px;
		width: 40%;
		height: 10px;
		box-shadow: 0 5px 14px rgba(0, 0, 0, 1);
		z-index: -1;
		transition: all 0.3s ease;
	}

	& .papper::before {
		left: 15px;
		transform: skew(-5deg) rotate(-5deg);
	}

	& .papper::after {
		right: 15px;
		transform: skew(5deg) rotate(5deg);
	}

	& .papper:hover::before,
	.papper:hover::after {
		box-shadow: 0 2px 14px rgba(0, 0, 0, 1);
	}
}

.PopImageDesc {
	display: flex;
	z-index: 100;
	overflow: hidden;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	/* From https://css.glass */
	background: rgba(255, 255, 255, 0.2);
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
	border: 1px solid rgba(255, 255, 255, 0.3);
	& figure {
		min-width: 500px;
	}
}

.checkbox-wrapper-44 input[type='checkbox'] {
	display: none;
	visibility: hidden;
}

.checkbox-wrapper-44 *,
.checkbox-wrapper-44 *::before,
.checkbox-wrapper-44 *::after {
	box-sizing: border-box;
}

.checkbox-wrapper-44 .toggleButton {
	cursor: pointer;
	display: block;
	transform-origin: 50% 50%;
	transform-style: preserve-3d;
	transition: transform 0.14s ease;
}

.checkbox-wrapper-44 .toggleButton:active {
	transform: rotateX(30deg);
}

.checkbox-wrapper-44 .toggleButton input + div {
	border: 3px solid rgba(0, 0, 0, 0.2);
	border-radius: 50%;
	position: relative;
	width: 28px;
	height: 28px;
}

.checkbox-wrapper-44 .toggleButton input + div svg {
	fill: none;
	stroke-width: 3.6;
	stroke: light-dark($p-color, $p3-color);
	stroke-linecap: round;
	stroke-linejoin: round;
	width: 28px;
	height: 28px;
	display: block;
	position: absolute;
	left: -3px;
	top: -3px;
	right: -3px;
	bottom: -3px;
	z-index: 1;
	stroke-dashoffset: 124.6;
	stroke-dasharray: 0 162.6 133 29.6;
	transition: all 0.4s ease 0s;
}

.checkbox-wrapper-44 .toggleButton input + div:before,
.checkbox-wrapper-44 .toggleButton input + div:after {
	content: '';
	width: 3px;
	height: 16px;
	background: light-dark($p-color, $p3-color);
	position: absolute;
	left: 50%;
	top: 50%;
	border-radius: 5px;
}

.checkbox-wrapper-44 .toggleButton input + div:before {
	opacity: 0;
	transform: scale(0.3) translate(-50%, -50%) rotate(45deg);
	-webkit-animation: bounceInBefore-44 0.3s linear forwards 0.3s;
	animation: bounceInBefore-44 0.3s linear forwards 0.3s;
}

.checkbox-wrapper-44 .toggleButton input + div:after {
	opacity: 0;
	transform: scale(0.3) translate(-50%, -50%) rotate(-45deg);
	-webkit-animation: bounceInAfter-44 0.3s linear forwards 0.3s;
	animation: bounceInAfter-44 0.3s linear forwards 0.3s;
}

.checkbox-wrapper-44 .toggleButton input:checked + div svg {
	stroke-dashoffset: 162.6;
	stroke-dasharray: 0 162.6 28 134.6;
	transition: all 0.4s ease 0.2s;
}

.checkbox-wrapper-44 .toggleButton input:checked + div:before {
	opacity: 0;
	transform: scale(0.3) translate(-50%, -50%) rotate(45deg);
	-webkit-animation: bounceInBeforeDont-44 0.3s linear forwards 0s;
	animation: bounceInBeforeDont-44 0.3s linear forwards 0s;
}

.checkbox-wrapper-44 .toggleButton input:checked + div:after {
	opacity: 0;
	transform: scale(0.3) translate(-50%, -50%) rotate(-45deg);
	-webkit-animation: bounceInAfterDont-44 0.3s linear forwards 0s;
	animation: bounceInAfterDont-44 0.3s linear forwards 0s;
}

@-webkit-keyframes bounceInBefore-44 {
	0% {
		opacity: 0;
		transform: scale(0.3) translate(-50%, -50%) rotate(45deg);
	}

	50% {
		opacity: 0.9;
		transform: scale(1.1) translate(-50%, -50%) rotate(45deg);
	}

	80% {
		opacity: 1;
		transform: scale(0.89) translate(-50%, -50%) rotate(45deg);
	}

	100% {
		opacity: 1;
		transform: scale(1) translate(-50%, -50%) rotate(45deg);
	}
}

@keyframes bounceInBefore-44 {
	0% {
		opacity: 0;
		transform: scale(0.3) translate(-50%, -50%) rotate(45deg);
	}

	50% {
		opacity: 0.9;
		transform: scale(1.1) translate(-50%, -50%) rotate(45deg);
	}

	80% {
		opacity: 1;
		transform: scale(0.89) translate(-50%, -50%) rotate(45deg);
	}

	100% {
		opacity: 1;
		transform: scale(1) translate(-50%, -50%) rotate(45deg);
	}
}

@-webkit-keyframes bounceInAfter-44 {
	0% {
		opacity: 0;
		transform: scale(0.3) translate(-50%, -50%) rotate(-45deg);
	}

	50% {
		opacity: 0.9;
		transform: scale(1.1) translate(-50%, -50%) rotate(-45deg);
	}

	80% {
		opacity: 1;
		transform: scale(0.89) translate(-50%, -50%) rotate(-45deg);
	}

	100% {
		opacity: 1;
		transform: scale(1) translate(-50%, -50%) rotate(-45deg);
	}
}

@keyframes bounceInAfter-44 {
	0% {
		opacity: 0;
		transform: scale(0.3) translate(-50%, -50%) rotate(-45deg);
	}

	50% {
		opacity: 0.9;
		transform: scale(1.1) translate(-50%, -50%) rotate(-45deg);
	}

	80% {
		opacity: 1;
		transform: scale(0.89) translate(-50%, -50%) rotate(-45deg);
	}

	100% {
		opacity: 1;
		transform: scale(1) translate(-50%, -50%) rotate(-45deg);
	}
}

@-webkit-keyframes bounceInBeforeDont-44 {
	0% {
		opacity: 1;
		transform: scale(1) translate(-50%, -50%) rotate(45deg);
	}

	100% {
		opacity: 0;
		transform: scale(0.3) translate(-50%, -50%) rotate(45deg);
	}
}

@keyframes bounceInBeforeDont-44 {
	0% {
		opacity: 1;
		transform: scale(1) translate(-50%, -50%) rotate(45deg);
	}

	100% {
		opacity: 0;
		transform: scale(0.3) translate(-50%, -50%) rotate(45deg);
	}
}

@-webkit-keyframes bounceInAfterDont-44 {
	0% {
		opacity: 1;
		transform: scale(1) translate(-50%, -50%) rotate(-45deg);
	}

	100% {
		opacity: 0;
		transform: scale(0.3) translate(-50%, -50%) rotate(-45deg);
	}
}

@keyframes bounceInAfterDont-44 {
	0% {
		opacity: 1;
		transform: scale(1) translate(-50%, -50%) rotate(-45deg);
	}

	100% {
		opacity: 0;
		transform: scale(0.3) translate(-50%, -50%) rotate(-45deg);
	}
}

@media only screen and (min-width: 1366px) {
	.Checklist {
		height: 50rem;
	}
}
