.companyA {
	.cls-1 {
		fill: #000;
		mix-blend-mode: multiply;
		opacity: 0.16;
	}
	.cls-18 {
		isolation: isolate;
	}
	.cls-1,
	.cls-2,
	.cls-3,
	.cls-4,
	.cls-5,
	.cls-6,
	.cls-7,
	.cls-8,
	.cls-9,
	.cls-10,
	.cls-11,
	.cls-12,
	.cls-13,
	.cls-14,
	.cls-15,
	.cls-16,
	.cls-17 {
		strokewidth: 0px;
	}

	.cls-2 {
		fill: #bcbec0;
	}

	.cls-3 {
		fill: #eee;
	}

	.cls-4 {
		fill: #d7e8f4;
	}

	.cls-5 {
		fill: #3b455a;
	}

	.cls-6 {
		fill: #f7f7f7;
	}

	.cls-7 {
		fill: #154e93;
	}

	.cls-8 {
		fill: #d5e6f4;
	}

	.cls-9 {
		fill: #eacfc1;
	}

	.cls-10 {
		fill: #96bfee;
	}

	.cls-11 {
		fill: #34435a;
	}

	.cls-12 {
		fill: #587bc9;
	}

	.cls-13 {
		fill: #fff;
	}

	.cls-14 {
		fill: #242449;
	}

	.cls-15 {
		fill: #cc937a;
	}

	.cls-16 {
		fill: #15529b;
	}

	.cls-17 {
		fill: #305399;
	}
}
.estructure {
	margin: 2rem 0;
	.cls-1 {
		letter-spacing: -0.07em;
	}

	.cls-2 {
		fill: #2f9e44;
	}

	.cls-2,
	.cls-3,
	.cls-4,
	.cls-5,
	.cls-6,
	.cls-7 {
		font-family: SegoeUIEmoji, 'Segoe UI Emoji';
		isolation: isolate;
	}

	.cls-2,
	.cls-5,
	.cls-6,
	.cls-7 {
		font-size: 36px;
	}

	.cls-8 {
		letter-spacing: -0.03em;
	}

	.cls-9 {
		letter-spacing: -0.04em;
	}

	.cls-10 {
		letter-spacing: 0em;
	}

	.cls-11 {
		letter-spacing: -0.01em;
	}

	.cls-12 {
		stroke: #d0bfff;
	}

	.cls-12,
	.cls-13,
	.cls-14,
	.cls-15,
	.cls-16,
	.cls-17,
	.cls-18,
	.cls-19,
	.cls-20,
	.cls-21,
	.cls-22,
	.cls-23 {
		fill: none;
		stroke-linecap: round;
	}

	.cls-24 {
		letter-spacing: -0.02em;
	}

	.cls-13 {
		stroke: #ffc9c9;
	}

	.cls-25 {
		letter-spacing: -0.08em;
	}

	.cls-26 {
		letter-spacing: 0em;
	}

	.cls-14 {
		stroke: #b2f2bb;
	}

	.cls-27 {
		letter-spacing: -0.03em;
	}

	.cls-15 {
		stroke: #a5d8ff;
	}

	.cls-16 {
		stroke: #9c36b5;
	}

	.cls-16,
	.cls-17,
	.cls-18,
	.cls-19,
	.cls-21,
	.cls-23 {
		stroke-width: 2px;
	}

	.cls-17 {
		stroke: #f08c00;
	}

	.cls-18 {
		stroke: #1971c2;
	}

	.cls-3 {
		font-size: 28px;
	}

	.cls-3,
	.cls-5 {
		fill: #1971c2;
	}

	.cls-28 {
		letter-spacing: -0.02em;
	}

	.cls-4 {
		fill: #846358;
		font-size: 29.82px;
	}

	.cls-19 {
		stroke: #e03131;
	}

	.cls-20 {
		stroke: #ffec99;
	}

	.cls-21 {
		stroke: #846358;
	}

	.cls-29 {
		letter-spacing: -0.07em;
	}

	.cls-30 {
		letter-spacing: -0.08em;
	}

	.cls-31 {
		letter-spacing: -0.04em;
	}

	.cls-6 {
		fill: #e03131;
	}

	.cls-7 {
		fill: #f08c00;
	}

	.cls-22 {
		stroke: #eaddd7;
	}

	.cls-23 {
		stroke: #2f9e44;
	}

	.cls-32 {
		letter-spacing: -0.02em;
	}
}
