$b-color: #292c35;
$g-color: #74767b;
$g2-color: #B0B0B4;
$w-color: #fff;

$p-color: #ef3829;
$p2-color: #da291c;
$p3-color: #b52217;

$s-color: #ff8300;
$s2-color: #ffc721;
$s3-color: #ffc721;

$t-color: #006b4f;
$t2-color: #7CE4C4;

/* Tipografía */
$tipo-principal: 'Montserrat', sans-serif;
$tipo-secundaria: 'Comfortaa', cursive;
$tipo-terciaria: 'Ubuntu', sans-serif;
/* Parrafos */
$title: 4.5rem;
$title2: 3.5rem;
$subtitles: 2.5rem;
$subtitles2: 2rem;
$subtitles3: 1.8rem;
$paragraph: 1.6rem;
$paragraph2: 1.4rem;
$paragraph3: 1.2rem;