@use 'variables' as *;

* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	vertical-align: baseline;
	transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
}
#root {
	overflow: hidden;
	color-scheme: light dark;
}
#portal {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100;
}
/* Se establece 1rem como 10px*/
html {
	font-size: 62.5%;
}

body {
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: center;
	// background-repeat: repeat;
	// background: linear-gradient(315deg, #d6dbe7 3%, #ffffff 38%, #a9b1c4 68%, #ffffff 98%);
	// animation: gradient 30s ease infinite;
	// background-size: 400% 400%;
	// background-attachment: fixed;
	// -webkit-animation: gradient 30s ease infinite;
	width: 100%;
	height: 100vh;
	font-size: 100%;
	min-height: 100dvh;
	font-family: $tipo-terciaria;
	color: $b-color;
	overflow: hidden;
	/* opcional */
	font-smooth: always;
	/* opcional */
	-webkit-font-smoothing: antialiased;
	/* opcional */
	-moz-osx-font-smoothing: grayscale;
	/* opcional Background */
	&::-webkit-scrollbar {
		display: none;
	}
}

/* Evitamos problemas con las imagenes */
img,
picture,
video,
iframe,
figure {
	max-width: 100%;
	width: 100%;
	display: block;
	/* opcional */
	-o-object-fit: cover;
	object-fit: cover;
	/* opcional */
	-o-object-position: center center;
	object-position: center center;
}

/* Reseteamos los enlaces para funcionar como cajas... */
a {
	display: block;
	text-decoration: none;
	color: inherit;
	font-size: inherit;
}

/* ... excepto los que se encuentran en párrafos */
p a {
	display: inline;
	text-wrap: pretty;
}

/* Quitamos los puntos de los <li> */
li {
	// list-style-type: none;
}

/* Configuramos anclas suaves */
html {
	scroll-behavior: smooth;
}

/* Desactivamos estilos por defecto de las principales etiquetas de texto */
h1,
h2,
h3,
h4,
h5,
h6,
span,
a,
strong,
blockquote,
i,
b,
u,
em {
	// font-style: inherit;
	text-decoration: none;
	color: inherit;
	text-wrap: balance;
}

p {
	font-style: inherit;
	color: inherit;
	text-wrap: pretty;
}

/* Evitamos problemas con los pseudoelementos de quotes */
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

/* Configuramos el texto que seleccionamos */
::-moz-selection {
	background-color: $b-color;
	color: $w-color;
}

::selection {
	background-color: $s-color;
	color: $w-color;
}

/* Nivelamos problemas de tipografías y colocación de formularios */
form,
input,
textarea,
select,
button,
label {
	hyphens: none;
	font-family: inherit;
	font-size: inherit;
	background-color: transparent;
	color: inherit;
	border: none;
	display: block;
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
}

table,
tr,
td {
	border-collapse: collapse;
	border-spacing: 0;
}

svg {
	width: 100%;
	display: block;
	fill: currentColor;
}
