@use '../../../styles/variables' as *;

.test-elements {
	display: flex;
	gap: 2rem;
	height: fit-content;
	padding: 2rem;
	align-items: center;
}

// BOTON A

.BtnBasic {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 5px;
	background: #183153;
	box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.2);
	overflow: hidden;
	cursor: pointer;
	border: none;
	&:after {
		content: ' ';
		width: 0%;
		height: 100%;
		background: #ffd401;
		position: absolute;
		transition: all 0.4s ease-in-out;
		right: 0;
	}
	&:hover {
		& span {
			color: #183153;
			animation: scaleUp 0.3s ease-in-out;
		}
		&::after {
			right: auto;
			left: 0;
			width: 100%;
		}
	}

	& span {
		text-align: center;
		text-decoration: none;
		width: 100%;
		padding: 18px 25px;
		color: #fff;
		font-size: 1.125em;
		font-weight: 700;
		letter-spacing: 0.3em;
		z-index: 20;
		transition: all 0.3s ease-in-out;
	}
}
@keyframes scaleUp {
	0% {
		transform: scale(1);
	}

	50% {
		transform: scale(0.95);
	}

	100% {
		transform: scale(1);
	}
}

// BOTON B

.BtnBorder {
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	border: none;
	background: none;
	color: #0f1923;
	cursor: pointer;
	position: relative;
	padding: 8px;
	margin-bottom: 20px;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 14px;
	transition: all 0.15s ease;
	& .BtnBorder_lg {
		position: relative;
		display: block;
		padding: 10px 20px;
		color: #fff;
		background-color: #0f1923;
		overflow: hidden;
		box-shadow: inset 0px 0px 0px 1px transparent;
		&::before {
			content: '';
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			width: 2px;
			height: 2px;
			background-color: #0f1923;
		}
		&::after {
			content: '';
			display: block;
			position: absolute;
			right: 0;
			bottom: 0;
			width: 4px;
			height: 4px;
			background-color: #0f1923;
			transition: all 0.2s ease;
		}
	}
	& .BtnBorder_sl {
		display: block;
		position: absolute;
		top: 0;
		bottom: -1px;
		left: -8px;
		width: 0;
		background-color: #ff4655;
		transform: skew(-15deg);
		transition: all 0.2s ease;
	}
	& .BtnBorder_text {
		position: relative;
	}
	&:hover {
		color: #0f1923;
		& .BtnBorder_lg::after {
			background-color: #fff;
		}
		& .BtnBorder_sl {
			width: calc(100% + 15px);
		}
	}
	&:active::after {
		bottom: 3px;
	}
	&:active::before {
		top: 3px;
	}
	&:active::before,
	.BtnBorder:active::after {
		right: 3px;
		left: 3px;
	}
	&:active,
	.BtnBorder:focus {
		outline: none;
	}
}
.BtnBorder::before,
.BtnBorder::after {
	content: '';
	display: block;
	position: absolute;
	right: 0;
	left: 0;
	height: calc(50% - 5px);
	border: 1px solid #7d8082;
	transition: all 0.15s ease;
}

.BtnBorder::before {
	top: 0;
	border-bottom-width: 0;
}

.BtnBorder::after {
	bottom: 0;
	border-top-width: 0;
}

// BTN C

.BtnZum {
	display: flex;
	justify-content: center;
	--color-text: #ffffff;
	--color-background: $p-color;
	--color-outline: #ff145b80;
	--color-shadow: #00000080;
	margin: 2rem 0;
	cursor: pointer;
	& .btn-content {
		display: flex;
		flex-direction: row-reverse;
		user-select: none;
		align-items: center;
		padding: 5px 30px;
		text-decoration: none;
		font-weight: 600;
		font-size: 30px;
		color: var(--color-text);
		background: $p-color;
		transition: 1s;
		border-radius: 100px;
		box-shadow: 0 0 0.2em 0 $p-color;
		&:hover .icon-arrow {
			transition: 0.5s;
			margin-right: 25px;
		}
		& .icon-arrow {
			width: 20px;
			margin-left: 15px;
			position: relative;
			top: 6%;
			& svg {
				width: 6rem;
				height: 4rem;
				transform: scaleX(-1);
			}
		}
	}
	& .btn-content:hover,
	.btn-content:focus {
		transition: 0.5s;
		-webkit-animation: btn-content 1s;
		animation: btn-content 1s;
		outline: 0.1em solid transparent;
		outline-offset: 0.2em;
		box-shadow: 0 0 0.4em 0 $p-color;
	}

	& .icon-arrow {
		transition: 0.5s;
		margin-right: 0px;
		transform: scale(0.6);
	}
	/* SVG */
	#arrow-icon-one {
		transition: 0.4s;
		transform: translateX(-60%);
	}

	#arrow-icon-two {
		transition: 0.5s;
		transform: translateX(-30%);
	}

	.btn-content:hover #arrow-icon-three {
		animation: color_anim 1s infinite 0.2s;
	}

	.btn-content:hover #arrow-icon-one {
		transform: translateX(0%);
		animation: color_anim 1s infinite 0.6s;
	}

	.btn-content:hover #arrow-icon-two {
		transform: translateX(0%);
		animation: color_anim 1s infinite 0.4s;
	}

	/* SVG animations */
	@keyframes color_anim {
		0% {
			fill: white;
		}

		50% {
			fill: $p-color;
		}

		100% {
			fill: white;
		}
	}

	/* Button animations */
	@-webkit-keyframes btn-content {
		0% {
			outline: 0.2em solid $p-color;
			outline-offset: 0;
		}
	}

	@keyframes btn-content {
		0% {
			outline: 0.2em solid $p-color;
			outline-offset: 0;
		}
	}
}

// BTN D

.BtnActive {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 50px;
	position: relative;
	padding: 0 20px;
	font-size: 18px;
	text-transform: uppercase;
	border: 0;
	box-shadow: hsl(210deg 87% 36%) 0px 7px 0px 0px;
	background-color: hsl(210deg 100% 44%);
	border-radius: 12px;
	overflow: hidden;
	transition: 31ms cubic-bezier(0.5, 0.7, 0.4, 1);
	&:before {
		content: attr(alt);
		display: flex;
		align-items: center;
		justify-content: center;
		position: absolute;
		inset: 0;
		font-size: 15px;
		font-weight: bold;
		color: white;
		letter-spacing: 4px;
		opacity: 1;
	}
	&:active {
		box-shadow: none;
		transform: translateY(7px);
		transition: 35ms cubic-bezier(0.5, 0.7, 0.4, 1);
	}
	&:hover {
		&:before {
			transition: all 0s;
			transform: translateY(100%);
			opacity: 0;
		}
		& i {
			transition: all 0.2s ease;
			transform: translateY(0px);
			opacity: 1;
			&:nth-child(1) {
				transition-delay: 0.045s;
			}
			&:nth-child(2) {
				transition-delay: calc(0.045s * 3);
			}
			&:nth-child(3) {
				transition-delay: calc(0.045s * 4);
			}
			&:nth-child(4) {
				transition-delay: calc(0.045s * 5);
			}
			&:nth-child(6) {
				transition-delay: calc(0.045s * 6);
			}
			&:nth-child(7) {
				transition-delay: calc(0.045s * 7);
			}
			&:nth-child(8) {
				transition-delay: calc(0.045s * 8);
			}
			&:nth-child(9) {
				transition-delay: calc(0.045s * 9);
			}
			&:nth-child(10) {
				transition-delay: calc(0.045s * 10);
			}
		}
	}

	& i {
		color: white;
		font-size: 15px;
		font-weight: bold;
		letter-spacing: 4px;
		font-style: normal;
		transition: all 2s ease;
		transform: translateY(-20px);
		opacity: 0;
	}
}
