@use '@styles/variables' as *;

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	background-color: rgba(255, 255, 255, 0.8);
	height: 60px;
	&__logobx {
		margin: 12px;
		width: 56px;
	}

	&__versionbx {
		display: flex;
		justify-content: center;
		align-items: center;
		background: $p-color;
		font-size: 1.6rem;
		width: 100px;
		height: -webkit-fill-available;
		color: $w-color;

		span {
			font-weight: 700;
			font-size: 1.2rem;
		}
	}

	&__nav {
		display: flex;
		justify-content: center;
		border-radius: 12px;
		width: 50%;
		padding: 0 25px;
		margin: 12px auto;
		-webkit-border-radius: 12px;
		-moz-border-radius: 12px;
		-ms-border-radius: 12px;
		-o-border-radius: 12px;

		ul {
			display: flex;
			gap: 3rem;
			font-size: 1.8rem;

			li {
				position: relative;

				&::before {
					content: '';
					position: absolute;
					bottom: 0;
					left: 0;
					width: 100%;
					height: 4px;
					background: $p-color;
					// transition: all 0.5s ease-in-out;
					// -webkit-transition: all 0.5s ease-in-out;
					// -moz-transition: all 0.5s ease-in-out;
					// -ms-transition: all 0.5s ease-in-out;
					// -o-transition: all 0.5s ease-in-out;
				}

				&:hover::before {
					height: 60px;
				}

				&:hover .route {
					color: $w-color;
				}

				.route {
					position: relative;
					font-weight: 600;
					top: 0;
					left: 0;
					display: flex;
					align-items: center;
					height: 60px;
					padding: 0 20px;
					z-index: 10;
				}
			}
		}
	}
}

.bxpop {
	.pop-btns-link {
		background: $p-color;
		color: $w-color;
		font-size: 1.8rem;
		margin: 4px auto;
		padding: 4px 14px;
		border-radius: 12px;
		opacity: 0.8;

		&:hover {
			opacity: 1;
			background: $p3-color;
			box-shadow: -2px 2px 4px rgba(0, 0, 0, 0.5);
		}
		// transition: all 0.5s ease-in-out;
		// -webkit-transition: all 0.5s ease-in-out;
		// -moz-transition: all 0.5s ease-in-out;
		// -ms-transition: all 0.5s ease-in-out;
		// -o-transition: all 0.5s ease-in-out;
	}
	label {
		display: flex;
		justify-content: center;
		align-items: center;
		border: 1px solid $p-color;
		border-radius: 16px;
		height: 24px;
		margin: 12px auto;
		input {
			font-size: 1.6rem;
			border: none;
			outline: none;
			width: 90%;
		}

		i {
			color: $p-color;
		}
	}
}

.sidebar {
	color-scheme: inherit;
	position: relative;
	display: flex;
	flex-direction: column;
	height: 98vh;
	width: 280px;
	margin: auto;
	margin-left: 1.2rem;
	background: light-dark(rgba($w-color, 0.4), rgba($b-color, 0.4));
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
	border: 1px solid rgba(255, 255, 255, 0.3);
	font-size: $paragraph;
	z-index: 10;

	border-radius: 1.6rem;
	-webkit-border-radius: 1.6rem;
	-moz-border-radius: 1.6rem;
	-ms-border-radius: 1.6rem;
	-o-border-radius: 1.6rem;
	&.false {
		width: 50px;
	}

	&__logobx {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		padding: 0 10px;
		border-bottom: 1px groove rgba(255, 255, 255, 0.3);
		align-items: center;
		width: 90%;
		padding-bottom: 10px;
		margin: 12px auto;
		i {
			font-size: 3rem;
			color: $w-color;
			text-align: center;
		}

		&--name {
			font-size: 1.8rem;
			color: light-dark($b-color, $w-color);
			font-weight: 400;
			text-align: center;
			width: 75%;
		}

		&--imgbx {
			width: 25%;
			max-width: 42px;
			margin: 12px auto;
			cursor: pointer;
		}
	}

	&__links {
		color: light-dark($b-color, $w-color);
		background: light-dark($w-color, $b-color);
		overflow: auto;
		flex-grow: 1;
		margin: 0 4px 12px 4px;
		border-radius: 0.8rem;
		-webkit-border-radius: 0.8rem;
		-moz-border-radius: 0.8rem;
		-ms-border-radius: 0.8rem;
		-o-border-radius: 0.8rem;
		&::-webkit-scrollbar {
			display: none;
		}
		& svg {
			& path {
				fill: url('#gr-light');
			}
		}
	}

	&__li {
		a {
			display: flex;
			align-items: center;
		}
		svg {
			display: inline;
			height: 6rem;
			width: 5rem;
			padding: 1rem;
			text-align: center;
			// transition: all 0.5s ease-in-out;
			// -webkit-transition: all 0.5s ease-in-out;
			// -moz-transition: all 0.5s ease-in-out;
			// -ms-transition: all 0.5s ease-in-out;
			// -o-transition: all 0.5s ease-in-out;
		}

		&--name {
			font-weight: 400;
			font-size: 1.6rem;
		}

		&:hover {
			background: light-dark(rgba($p-color, 0.2), rgba($s-color, 0.2));
			border-radius: 0.8rem;
			-webkit-border-radius: 0.8rem;
			-moz-border-radius: 0.8rem;
			-ms-border-radius: 0.8rem;
			-o-border-radius: 0.8rem;
		}

		&:hover i {
			color: $w-color;
		}
		&.true > .sidebar__submenu {
			cursor: pointer;
			text-align: left;
			display: block;
			max-height: 200px;
			overflow-y: auto;
			// transition: all 0.5s ease-in-out;
			// -webkit-transition: all 0.5s ease-in-out;
			// -moz-transition: all 0.5s ease-in-out;
			// -ms-transition: all 0.5s ease-in-out;
			// -o-transition: all 0.5s ease-in-out;
		}
	}

	&__drop {
		cursor: pointer;
		display: flex;
		align-items: center;
		justify-content: space-between;
		& .none {
			display: flex;
			align-items: center;
			user-select: 0;
			pointer-events: none;
		}
	}

	&__submenu {
		display: none;
		margin-top: -10px;
		text-align: center;
		background: rgba(255, 255, 255, 0.2);
		& .sidebar__submenu--link {
			display: none;
		}
		&--name {
			width: 100%;
			color: light-dark($b-color, $w-color);
			padding: 6px 6px 8px 20px;
			&:hover {
				color: $b-color;
				background: rgba(255, 255, 255, 0.8);
			}
		}
	}

	&__submenu.blank {
		opacity: 1;
		pointer-events: auto;
	}
	&__sets {
		display: flex;
		justify-content: center;
		margin: 0 auto 12px auto;
		width: 98%;
		background: light-dark($w-color, $b-color);
		padding: 6px;
		gap: 1rem;
		border-radius: 0.8rem;
		-webkit-border-radius: 0.8rem;
		-moz-border-radius: 0.8rem;
		-ms-border-radius: 0.8rem;
		-o-border-radius: 0.8rem;
		&--btn {
			cursor: pointer;
			display: flex;
			align-items: center;
			justify-content: center;
			background: $p3-color;
			border: 1px solid $p-color;
			border-radius: 50%;
			-webkit-border-radius: 50%;
			-moz-border-radius: 50%;
			-ms-border-radius: 50%;
			-o-border-radius: 50%;
			& svg {
				user-select: none;
				pointer-events: none;
				width: 4rem;
				max-width: 4rem;
				padding: 12px;
			}
			&:hover {
				background: rgb(115, 44, 100, 0.9);
			}
		}
		& svg {
			& path {
				fill: $w-color;
			}
		}
	}
	&__versionbx {
		color: light-dark($b-color, $w-color);
		line-height: 50px;
		height: 50px;
		width: 90%;
		left: 5%;
		margin: auto;
		text-align: center;
		border-top: 1px solid rgba(255, 255, 255, 0.3);
		span {
			color: $w-color;
		}
	}
	&__li.true svg.arrow {
		cursor: pointer;
		transform: rotate(-180deg);
		-webkit-transform: rotate(-180deg);
		-moz-transform: rotate(-180deg);
		-ms-transform: rotate(-180deg);
		-o-transform: rotate(-180deg);
	}
	& .input-container {
		position: relative;
		display: flex;
		align-items: center;
		margin: auto;
		& .input {
			width: 35px;
			height: 35px;
			border-radius: 20px;
			border: none;
			outline: none;
			padding: 18px 18px;
			background-color: transparent;
			cursor: pointer;
			// transition: all 0.5s ease-in-out;
			// -webkit-transition: all 0.5s ease-in-out;
			// -moz-transition: all 0.5s ease-in-out;
			// -ms-transition: all 0.5s ease-in-out;
			// -o-transition: all 0.5s ease-in-out;
			&::placeholder {
				color: transparent;
			}

			&:focus::placeholder {
				color: rgb(131, 128, 128);
			}
		}

		& .input:focus,
		.input:not(:placeholder-shown) {
			/* From https://css.glass */
			background: $w-color;
			box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
			backdrop-filter: blur(5px);
			-webkit-backdrop-filter: blur(5px);
			border: 1px solid rgba(255, 255, 255, 0.3);
			width: 220px;
			cursor: none;
			padding: 18px 16px 18px 55px;
			color: $b-color;
			font-size: 1.8rem;
			font-weight: 600;
		}

		& .icon {
			height: 4rem;
			left: -2px;
			position: absolute;
			width: 4rem;
			padding: 0.8rem;
			z-index: -1;
			fill: $g-color;
			border: 4px solid rgba(255, 255, 255, 0.3);
			border-radius: 50%;
			overflow: visible;
		}

		& .input:focus + .icon,
		.input:not(:placeholder-shown) + .icon {
			z-index: 0;
			background-color: transparent;
			border: none;
			left: 1px;
		}
	}
	&.false .sidebar__logobx {
		padding: 0;
		align-items: flex-start;
		flex-direction: column;
		padding-bottom: 10px;
		&--name {
			display: none;
		}
		&--imgbx {
			width: 100%;
			margin: 12px 0;
		}
	}
	&.false .sidebar__links {
		width: 100%;
		margin: 0 0 12px 0;
	}
	&.false .sidebar__submenu {
		display: block;
		font-size: $paragraph2;
		position: absolute;
		max-height: 400px;
		left: 100%;
		top: -10px;
		margin-top: 0;
		border-radius: 0 6px 6px 0;
		-webkit-border-radius: 0 6px 6px 0;
		-moz-border-radius: 0 6px 6px 0;
		-ms-border-radius: 0 6px 6px 0;
		-o-border-radius: 0 6px 6px 0;
		overflow: auto;
		opacity: 0;
		pointer-events: none;

		&--name {
			padding-right: 19px;
			opacity: 0.6;
			color: light-dark($b-color, $w-color);
			font-size: 1.6rem;
			&:hover {
				opacity: 1;
			}
		}

		&--link {
			display: block;
			color: light-dark($b-color, $w-color);
			opacity: 1;
			font-size: $subtitles3;
			font-weight: 800;

			&:hover {
				background: $g-color;
			}
		}
	}
	&.false .sidebar__li:hover .sidebar__submenu {
		top: 0;
		opacity: 1;
		pointer-events: auto;
		width: max-content;
		background: rgba($p-color, 0.3);
		// transition: all 0.5s ease-in-out;
		// -webkit-transition: all 0.5s ease-in-out;
		// -moz-transition: all 0.5s ease-in-out;
		// -ms-transition: all 0.5s ease-in-out;
		// -o-transition: all 0.5s ease-in-out;
	}
	&.false .sidebar__drop i.arrow {
		display: none;
	}
	&.false .sidebar__li--name {
		display: none;
		opacity: 0;
		pointer-events: none;
	}
	&.false .sidebar__sets {
		flex-wrap: wrap;
		// margin: 1rem 0;
		width: 100%;
		padding: 6px 4px;
		&--btn {
			& svg {
				width: 3.6rem;
			}
		}
	}
	&.false .sidebar__versionbx {
		left: 2%;
		width: 95%;
	}
	&.false .sidebar__versionbx span {
		display: none;
	}
}

.templates-xls {
	display: flex;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	padding: 6rem;
	background: rgba(255, 255, 255, 0.2);
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
	border: 1px solid rgba(255, 255, 255, 0.3);
	font-size: 4rem;
	.file-upload-form {
		width: fit-content;
		height: fit-content;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.file-upload-label {
		cursor: pointer;
		background-color: #ddd;
		padding: 30px 70px;
		border-radius: 40px;
		border: 2px dashed rgb(82, 82, 82);
		box-shadow: 0px 0px 200px -50px rgba(0, 0, 0, 0.719);
		& svg {
			height: 50px;
			fill: rgb(82, 82, 82);
			margin-bottom: 20px;
		}
		& input {
			display: none;
		}
	}
	.file-upload-design {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 5px;
	}
	.browse-button {
		background-color: rgb(82, 82, 82);
		padding: 5px 15px;
		border-radius: 10px;
		color: white;
		// transition: all 0.3s;
		&:hover {
			background-color: rgb(14, 14, 14);
		}
	}

	&--left {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 50%;
		height: 100%;
		padding: 1rem;
	}
	&--right {
		display: flex;
		align-items: center;
		flex-direction: column;
		gap: 2rem;
		width: 50%;
		height: 100%;
		margin: 10% 0;
		color: $w-color;
		padding: 1rem;
		& span {
			text-align: center;
			width: 100%;
			margin-bottom: 2rem;
			font-weight: 800;
			font-size: 6rem;
			padding: 0.4rem 2rem;
			color: $b-color;
			background: rgba(255, 255, 255, 0.4);
		}
		& .templates {
			display: flex;
			margin: 10rem 0;
			justify-content: center;
		}
	}
}

.container-btn-file {
	display: flex;
	position: relative;
	justify-content: center;
	align-items: center;
	background-color: #307750;
	min-width: 40rem;
	font-size: 1.8rem;
	color: #fff;
	border-style: none;
	padding: 1em 2em;
	border-radius: 0.5em;
	overflow: hidden;
	z-index: 1;
	box-shadow: 4px 8px 10px -3px rgba(0, 0, 0, 0.356);
	// transition: all 250ms;
	cursor: pointer;
	& > svg {
		margin-right: 1em;
		width: 30px;
	}
	&::before {
		content: '';
		position: absolute;
		height: 100%;
		width: 0;
		border-radius: 0.5em;
		background-color: #469b61;
		z-index: -1;
		// transition: all 350ms;
	}
	&:hover::before {
		width: 100%;
	}
}

.swal2-popup {
	font-size: 2rem;
}

.driver-popover.driverjs-theme {
	background-color: $p2-color;
	color: $w-color;
}

.driver-popover.driverjs-theme .driver-popover-title {
	font-size: 2rem;
}

.driver-popover.driverjs-theme .driver-popover-title,
.driver-popover.driverjs-theme .driver-popover-description,
.driver-popover.driverjs-theme .driver-popover-progress-text {
	color: $w-color;
	margin-right: 1rem;
}

.driver-popover.driverjs-theme button {
	flex: 1;
	text-align: center;
	background-color: $w-color;
	color: #000;
	border: 2px solid $w-color;
	text-shadow: none;
	font-size: 14px;
	padding: 5px 8px;
	border-radius: 6px;
}

.driver-popover.driverjs-theme button:hover {
	background-color: $p-color;
	color: $w-color;
}

.driver-popover.driverjs-theme .driver-popover-navigation-btns {
	justify-content: space-between;
	gap: 3px;
}

.driver-popover.driverjs-theme .driver-popover-close-btn {
	color: #9b9b9b;
	background: transparent;
	border: none;
}

.driver-popover.driverjs-theme .driver-popover-close-btn:hover {
	color: $w-color;
	background: transparent;
}

.driver-popover.driverjs-theme .driver-popover-arrow-side-left.driver-popover-arrow {
	border-left-color: $p2-color;
}

.driver-popover.driverjs-theme .driver-popover-arrow-side-right.driver-popover-arrow {
	border-right-color: $p2-color;
}

.driver-popover.driverjs-theme .driver-popover-arrow-side-top.driver-popover-arrow {
	border-top-color: $p2-color;
}

.driver-popover.driverjs-theme .driver-popover-arrow-side-bottom.driver-popover-arrow {
	border-bottom-color: $p2-color;
}
