@use '../../styles/variables' as *;

.WtField {
	display: flex;
	align-items: center;
	position: relative;
	margin: 8px;
	width: 200px;
	min-width: 120px;
	&__input {
		width: 100%;
		font-size: 1.4rem;
		background: #fff;
		padding: 0.8rem;
		border: 2px solid $g-color;
		border-radius: 10px;
		outline: none;
		color: #0d0c22;
		&::placeholder {
			color: gray; /* Cambia este color al que prefieras */
			opacity: 1; /* Necesario para algunos navegadores para que el color se vea correctamente */
		}
		&.iconFalse {
			padding: 0.8rem;
		}
		&::placeholder {
			color: rgba($p-color, 0.4);
		}
		&:focus,
		input:hover {
			outline: none;
			border-color: rgb(32, 129, 255);
			background-color: #ffffff;
			box-shadow: 0 0 0 5px rgba(63, 140, 255, 0.3);
		}
		transition: 0.3s ease;
		-webkit-transition: 0.3s ease;
		-moz-transition: 0.3s ease;
		-ms-transition: 0.3s ease;
		-o-transition: 0.3s ease;
	}
	&__error {
		position: absolute;
		top: 50%;
		width: 100%;
		text-align: center;
		background: #ff6767;
		& span {
			width: 100%;
			line-height: 1.6rem;
			font-size: 1.2rem;
			margin-top: 0.4rem;
			color: #fff;
			border-top-left-radius: 0.4rem;
			border-top-right-radius: 0.4rem;
		}
		transform: translateY(-50%);
		-webkit-transform: translateY(-50%);
		-moz-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		-o-transform: translateY(-50%);
	}
	& svg {
		position: absolute;
		left: 1rem;
		fill: gray;
		width: 1rem;
		height: 1rem;
	}
	& .styleError {
		border-color: #ff6767;
		background-color: #ffeded;
		box-shadow: 0 0 0 5px rgba(255, 63, 63, 0.3);
	}
}
