@use '../../../styles/variables' as *;

.description {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 1.6rem;
	height: 100%;
	gap: 0.8rem;
	&__container {
		width: 100%;
		display: flex;
		overflow-y: auto;
		scrollbar-width: thin;
		height: 100%;
		flex-direction: column;
		align-items: center;
		font-size: 1.6rem;
		font-weight: 400;
		padding: 1rem 2rem;
		gap: 0.8rem;
	}
	&__title {
		padding: 1.2rem;
		top: 0;
		font-size: 2.4rem;
		text-align: center;
		width: 100%;
		z-index: 10;
		border-bottom: 1px solid $g-color;
		color: $w-color;
		background: $p-color;
		position: sticky;
	}
	&__subtitle {
		color: $s-color;
		text-align: center;
		font-size: 2rem;
		margin-top: 2rem;
	}
	&__paragraph {
		font-size: 1.8rem;
		&::first-letter {
			font-size: 1.8rem;
			font-weight: 600;
			color: $p-color;
		}
	}
	&__important {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin: 1rem 0;
		gap: 0.6rem;
		background: $p-color;
		padding: 0.6rem;
		text-align: center;
		width: 90%;
		border: 1px solid $w-color;
		box-shadow: -2px 2px 5px 4px rgba(0, 0, 0, 0.1);
		&--title {
			font-size: 1.8rem;
			font-weight: 800;
			border-bottom: 1px solid $p3-color;
		}
		// & span {
		// 	color: $w-color;
		// 	font-size: 1.6rem;
		// }
		border-radius: 2rem;
		-webkit-border-radius: 2rem;
		-moz-border-radius: 2rem;
		-ms-border-radius: 2rem;
		-o-border-radius: 2rem;
	}
	&__list {
		padding: 0 1rem 0 2rem;
	}
	&__script {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin: 1rem 0;
		background: rgba(255, 118, 118, 0.1);
		font-size: 1.8rem;
		font-style: italic;
		font-weight: 400;
		padding: 1rem;
		cursor: pointer;
		text-align: center;
		width: 90%;
		border: 1px solid $w-color;
		box-shadow: -2px 2px 5px 4px rgba(0, 0, 0, 0.1);
		border-radius: 0.8rem;
		-webkit-border-radius: 0.8rem;
		-moz-border-radius: 0.8rem;
		-ms-border-radius: 0.8rem;
		-o-border-radius: 0.8rem;
	}
	&__pop-image {
		width: 40px;
		padding: 2rem;
		height: 40px;
		position: relative;
		background: #fff;
		border-radius: 4px;
		overflow: hidden;
		box-shadow: -2px 2px 5px 4px rgba(0, 0, 0, 0.1);
		cursor: pointer;
		margin: 1rem 0;
		&:before {
			content: '';
			position: absolute;
			left: 0;
			bottom: 0;
			width: 28px;
			height: 28px;
			transform: rotate(45deg) translate(30%, 40%);
			background: #ff9371;
			box-shadow: 32px -34px 0 5px #ff3d00;
			animation: slide 2s infinite ease-in-out alternate;
		}
		&:after {
			content: '';
			position: absolute;
			left: 10px;
			top: 10px;
			width: 12px;
			height: 12px;
			border-radius: 50%;
			background: #ff3d00;
			transform: rotate(0deg);
			transform-origin: 35px 145px;
			animation: rotate 2s infinite ease-in-out;
		}
		&:hover {
			transform: scale(1.1);
			-webkit-transform: scale(1.1);
			-moz-transform: scale(1.1);
			-ms-transform: scale(1.1);
			-o-transform: scale(1.1);
		}
	}
	&__valtext {
		display: flex;
		width: 100%;
		justify-content: space-between;
		align-items: center;
		background: $p-color;
		padding: 1rem;
		border: 1px solid $p3-color;
		box-shadow: -2px 2px 5px 4px rgba(0, 0, 0, 0.1);
		color: $w-color;
		&--ask {
			width: 60%;
			border-right: 1px solid $p3-color;
		}
		&--radios {
			display: flex;
			align-items: center;
			justify-content: space-around;
			width: 40%;

			& .label {
				display: flex;
				gap: 0.6rem;
				font-weight: 800;
			}
		}
		border-radius: 0.8rem;
		-webkit-border-radius: 0.8rem;
		-moz-border-radius: 0.8rem;
		-ms-border-radius: 0.8rem;
		-o-border-radius: 0.8rem;
	}
	&__valbool {
		display: flex;
		width: 100%;
		justify-content: center;
		align-items: center;
		background: $p-color;
		padding: 1rem;
		text-align: center;
		border: 1px solid $p3-color;
		box-shadow: -2px 2px 5px 4px rgba(0, 0, 0, 0.1);
		& .label {
			width: 100%;
			display: flex;
			align-items: center;
			gap: 1rem;
			flex-direction: column;
			& input {
				width: 100%;
				padding: 0.6rem 1rem;
				background: $w-color;
				color: $b-color;
				outline: none;
				border-radius: 0.8rem;
				-webkit-border-radius: 0.8rem;
				-moz-border-radius: 0.8rem;
				-ms-border-radius: 0.8rem;
				-o-border-radius: 0.8rem;
			}
		}
		border-radius: 0.8rem;
		-webkit-border-radius: 0.8rem;
		-moz-border-radius: 0.8rem;
		-ms-border-radius: 0.8rem;
		-o-border-radius: 0.8rem;
	}
	&__valdate {
		display: flex;
		width: 100%;
		text-align: start;
		justify-content: space-between;
		align-items: center;
		background: $p-color;
		padding: 1rem;
		text-align: center;
		border: 1px solid $p3-color;
		box-shadow: -2px 2px 5px 4px rgba(0, 0, 0, 0.1);

		&--ask {
			width: fit-content;
			text-align: start;
			color: light-dark($w-color, $w-color);
		}
		&--date {
			& input {
				outline: none;
				color: $w-color;
			}
		}
		border-radius: 0.8rem;
		-webkit-border-radius: 0.8rem;
		-moz-border-radius: 0.8rem;
		-ms-border-radius: 0.8rem;
		-o-border-radius: 0.8rem;
	}
	&__vallist {
		display: flex;
		flex-direction: column;
		width: 100%;
		justify-content: space-between;
		align-items: center;
		background: $p-color;
		padding: 1rem;
		border: 1px solid $p3-color;
		color: $w-color;
		box-shadow: -2px 2px 5px 4px rgba(0, 0, 0, 0.1);
		&--list {
			position: relative;
			width: 80%;
			display: flex;
			flex-direction: column;
			& .list {
				padding: 0.2rem 0.6rem;
				display: flex;
				flex-direction: column;
				z-index: 100;
				background: red;
				top: 100%;
				left: auto;
				position: absolute;
				list-style: none;
				width: 100%;
				background: $p-color;
				box-shadow: 4px 6px 8px 2px rgba(0, 0, 0, 0.5);
				border-radius: 0.8rem;
				-webkit-border-radius: 0.8rem;
				-moz-border-radius: 0.8rem;
				-ms-border-radius: 0.8rem;
				-o-border-radius: 0.8rem;
				& li {
					padding: 0.6rem;
					border-bottom: 1px solid $p3-color;
				}
				& .li {
					padding: 0.6rem;
					border-bottom: 1px solid $p3-color;
					& p {
						user-select: none;
						pointer-events: none;
					}
					&:hover {
						background: $s-color;
						border-radius: 0.8rem;
						-webkit-border-radius: 0.8rem;
						-moz-border-radius: 0.8rem;
						-ms-border-radius: 0.8rem;
						-o-border-radius: 0.8rem;
					}
				}
			}
			& .label {
				display: flex;
				align-items: center;
				justify-content: space-between;
				outline: none;
				background: $w-color;
				padding: 0.4rem 1rem;
				border: 1px solid $p3-color;
				border-radius: 0.8rem;
				-webkit-border-radius: 0.8rem;
				-moz-border-radius: 0.8rem;
				-ms-border-radius: 0.8rem;
				-o-border-radius: 0.8rem;
				display: flex;
				& svg {
					cursor: pointer;
					width: 2rem;
					height: 2rem;
					color: $p-color;
				}
			}
		}
		&--input {
			outline: none;
			padding: 0.4rem 1rem;
			color: $b-color;
			cursor: pointer;
		}
		& span {
			margin-bottom: 1rem;
		}
		border-radius: 0.8rem;
		-webkit-border-radius: 0.8rem;
		-moz-border-radius: 0.8rem;
		-ms-border-radius: 0.8rem;
		-o-border-radius: 0.8rem;
	}
	&__note {
		display: flex;
		width: 90%;
		padding: 1rem;
		&--icon {
			margin-right: 1rem;
			svg {
				width: 2.4rem;
			}
		}
		&--title {
			display: block;
			margin-bottom: 0.2rem;
			width: 100%;
			font-size: 1.8rem;
			font-weight: 600;
		}
		&.success {
			border: 1px solid rgb(129, 255, 71);
			background-color: rgba(180, 255, 146, 0.2);
			& .description__note--icon svg {
				fill: rgb(46, 145, 0);
			}
		}
		&.error {
			border: 1px solid rgb(255, 71, 71);
			background-color: rgba(255, 146, 146, 0.2);
			& .description__note--icon svg {
				fill: rgb(145, 0, 0);
			}
		}
		&.warning {
			border: 1px solid rgb(255, 154, 71);
			background-color: rgba(255, 199, 126, 0.2);
			& .description__note--icon svg {
				fill: rgb(145, 46, 0);
			}
		}
		&.info {
			border: 1px solid rgb(71, 243, 255);
			background-color: rgba(126, 225, 255, 0.2);
			& .description__note--icon svg {
				fill: rgb(0, 145, 133);
			}
		}
		&.question {
			border: 1px solid rgb(71, 255, 184);
			background-color: rgba(126, 255, 216, 0.2);
			& .description__note--icon svg {
				fill: rgb(0, 145, 89);
			}
		}
		// & span {
		// 	text-wrap: balance;
		// }
		border-radius: 0.6rem;
		-webkit-border-radius: 0.6rem;
		-moz-border-radius: 0.6rem;
		-ms-border-radius: 0.6rem;
		-o-border-radius: 0.6rem;
	}
	& .insidebool {
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
		font-size: 1.6rem;
		padding: 0 1rem;
		gap: 0.8rem;
		width: 100%;
		box-shadow: -2px 2px 5px 4px rgba(0, 0, 0, 0.1);
		background: rgba(255, 182, 104, 0.1);
		position: relative;
		top: -0.8rem;
		border-radius: 0.8rem;
		-webkit-border-radius: 0.8rem;
		-moz-border-radius: 0.8rem;
		-ms-border-radius: 0.8rem;
		-o-border-radius: 0.8rem;
		transition: 1s all;
		-webkit-transition: 1s all;
		-moz-transition: 1s all;
		-ms-transition: 1s all;
		-o-transition: 1s all;
		&.animate__slideInDown {
			padding: 2rem 1rem;
		}
	}
	& .cssbuttons-io-button {
		background: $p-color;
		color: white;
		font-family: inherit;
		padding: 2.4rem;
		padding-left: 1.2rem;
		font-size: 17px;
		font-weight: 500;
		border-radius: 0.9em;
		border: none;
		letter-spacing: 0.05em;
		display: flex;
		align-items: center;
		box-shadow: inset 0 0 1.6em -0.6em $p-color;
		overflow: hidden;
		position: relative;
		height: 2.8em;
		padding-right: 3.3em;
		cursor: pointer;
		& .icon {
			background: white;
			margin-left: 1em;
			position: absolute;
			display: flex;
			align-items: center;
			justify-content: center;
			height: 2.2em;
			width: 2.2em;
			border-radius: 0.7em;
			box-shadow: 0.1em 0.1em 0.6em 0.2em $p-color;
			right: 0.3em;
			transition: all 0.3s;
			& svg {
				width: 1.1em;
				transition: transform 0.3s;
				color: $p-color;
			}
			& .cssbuttons-io-button:hover .icon svg {
				transform: translateX(0.1em);
			}
			& .cssbuttons-io-button:active .icon {
				transform: scale(0.95);
			}
		}
		&:hover .icon {
			width: calc(100% - 0.6em);
		}
	}
	@keyframes slide {
		0%,
		100% {
			bottom: -35px;
		}

		25%,
		75% {
			bottom: -2px;
		}

		20%,
		80% {
			bottom: 2px;
		}
	}

	@keyframes rotate {
		0% {
			transform: rotate(-15deg);
		}

		25%,
		75% {
			transform: rotate(0deg);
		}

		100% {
			transform: rotate(25deg);
		}
	}
}
